@model MarininCars.Models.InsModel
@{
    ViewBag.Title = "Insert";
}

<h2>Добавление данных</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Марки</h4>
        <hr />

        <div class="form-group">
            <p class="control-label col-md-2">Марка</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mark, new { htmlAttributes = new { @class = "form-control" } })
            </div>           
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Добавить марку" class="btn btn-default" />
            </div>
            <p class="control-label col-md-2">@ViewBag.VMark</p>
        </div>
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Модели</h4>
    <hr/>
    <div class="form-group">
        <p class="control-label col-md-2">Марка</p>
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.IdMark, new SelectList(ViewBag.MarkLst, "Id", "Mark"), "Выберите марку", htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <p class="control-label col-md-2">Модель</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Modell, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Добавить модель" class="btn btn-default" />
        </div>
        <p class="control-label col-md-2">@ViewBag.VModel</p>
    </div>
</div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Модификации</h4>
        <hr />
        <div class="form-group">
            <p class="control-label col-md-2">Марка</p>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.IdMark, new SelectList(ViewBag.MarkLst, "Id", "Mark"), "Выберите марку", htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2">Модель</p>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.IdModel, new SelectList(ViewBag.ModelLst, "Id", "Model"), "Выберите модель", htmlAttributes: new { @class = "form-control" })                
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2">Модификация</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Modification, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2">Объём</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Veng, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2">Мощность</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Peng, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2">Привод</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Privod, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2">Количество</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2">Цена</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2">Фото</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Picture, new { htmlAttributes = new { @class = "form-control" } })

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Добавить модификацию" class="btn btn-default" />
            </div>
            <p class="control-label col-md-2">@ViewBag.VModification</p>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
